body{margin: 0;
padding: 0;
text-transform: capitalize;
background-image: linear-gradient(to left,red);
background-color: aliceblue;
}
.nav_main{height: 40px;
background: rgba(0, 0, 0, 0.884);}

.nav_main .nav_span{color: white;
position: absolute;
top: 10px;
left: 10px;}

.nav_main_right{color: white;
margin-left: 90%;
padding-top: 10px;}
.nav_main_right a{color: white;
text-decoration: none;
transition:0.3s;
}
.nav_main_right a:hover{color: rgb(145, 60, 60);
}
.poster{background-image: url(img/nahil-naseer-xljtGZ2-P3Y-unsplash.jpg);
width: 90%;
height: 10rem;
left: 5%;
margin-top: 30px;
position: absolute;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
box-shadow: 0 5px 50px 0 black;
color: white;text-align: center;}
.poster .hyper_nav{margin-top: 30px;}
.poster .hyper_nav a{color: white;
text-decoration: none;
font-family: 'Comforter', cursive;
font-size: 20px;
margin-left: 10px;
margin-right: 10px;
transition: 0.4s;
}
.poster .hyper_nav a:hover{color: rgb(181, 198, 252);}
.poster .para{
    margin-top: 20px;
    font-size: 40px;

}
.poster .para span{font-family: 'Bebas Neue', cursive;
}
.paragraph{margin-top:40px;}
.paragraph p{margin-left: 3%;
margin-right: 3%;
font-size: 17px;
letter-spacing: 1px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}