body{background: #000;
box-sizing: border-box;
overflow: hidden;
margin: 0;
color: white;
padding: 0;}
nav{}
.img img{position: relative;
left:50rem;
top: 4rem;}
nav .nav_main{
    position: absolute;
    top: 8rem;
    left: 4rem;
}
.nav_main .one{color: rgb(255, 94, 0);
font-size: 60px;
font-family: 'Fjalla One', sans-serif;
letter-spacing: 1px;
}
.nav_main .two{}
.nav_main .three{font-family: 'Fjalla One', sans-serif;
position: relative;
top: 15px;
font-size: 40px;}
p.four{color: white;
font-size: 18px;}